ANTHROPIC_API_KEY=
GEMINI_API_KEY=
STABILITY_API_KEY=
SD_URL=http://localhost:7860
OLLAMA_URL=http://localhost:11434
OLLAMA_MODEL=
TTS_KOKORO_URL=http://localhost:8880
TTS_OPENAI_KEY=
AIDUNGEON_EMAIL=
AIDUNGEON_PASSWORD=
NSFW_IMAGE_PROMPT_SUFFIX=", sexy, navel, <lora:MyFluxLoRA:0.85>"