__pycache__
2026-*
*.bak
bad-icons.txt
.env
node_modules
old
tmp
web/.env
web/generator/config.js
web/.serve-static.pid
web/.serve-aidungeon.pid
images.txt
tools/regenerate-icons-gemini.py
web/generator/nsfw-suffix.json
